{% extends 'base.html' %}
<h1> {% block title %}Excluir disciplina{% endblock %}</h1>
{% block content %}

    <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">{{ disciplina.nome }}</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td>I Unidade</td>
                </td><td>{{ disciplina.nota1 }}</td>
            </tr>
            <tr>
                <td>II Unidade</td>
                <td>{{ disciplina.nota2 }}</td>
            <tr>
                <td>III Unidade</td>
                <td>{{ disciplina.nota3 }}</td>
            </tr>
            </tbody>
          </table>
      </div>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Excluir" class="btn btn-primary">    <input type="button" value="Cancelar" class="btn" onclick="window.location='/'"/>
</form>

{% endblock %}